{% extends 'news/base.html' %}
{% load static %}

{% block title %} Adming sahifasi {% endblock title%}
{% block content%}
<h1>Admin sahifasi</h1>
<h3>Barcha adminlar</h3>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Username</th>
        <th>Ismi</th>
        <th>Familiyangiz</th>
    </tr>
        {% for user in admin_users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
    </tr>
{% endfor %}
</table>
    <h2>
        <a href="{% url 'news_create' %}" class="text-primary">
            +Yangilik qo'shish
        </a>
        | <a href="{% url 'comments_page' %}" class="text-primary">Izohlar</a>

    </h2>


<!--<h3>Izohlar (Comments)</h3>-->
<!--{% if comments_list %}-->
<!--    {% for comment in comments_list %}-->
<!--        <p><strong>{{ comment.user.username }}</strong> commented on <strong>{{ comment.news.title }}</strong>:</p>-->
<!--        <p>{{ comment.body }}</p> <p>{{comment.created_time}}</p>-->
<!--        <form method="post" action="{% url 'toggle_comment_status' comment.id %}">-->
<!--            {% csrf_token %}-->
<!--            {% if comment.active %}-->
<!--                <button type="submit" class="btn btn-warning">Deactivate</button>-->
<!--            {% else %}-->
<!--                <button type="submit" class="btn btn-success">Activate</button>-->
<!--            {% endif %}-->
<!--        </form>-->
<!--        <hr>-->
<!--    {% endfor %}-->
<!--{% else %}-->
<!--    <p>No comments available.</p>  &lt;!&ndash; Message if no comments exist &ndash;&gt;-->
<!--{% endif %}-->


{% endblock content %}