{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi profili{% endblock title %}

{% block content %}
<!--  <div class="container text-center">-->
<!--      <div class="row ">-->
<!--        <div class="col-6 d-inline p-2">-->
<!--          <h3  style="width:50%; display: flex">Xush kelibsiz, {{user.username}}</h3>-->
<!--        </div>-->
<!--        <div class="col-6 d-inline p-2">-->
<!--          <h4 style="display: flex"><a href="{% url 'password_change'%}" style="color:red">Parolni almashtirish</a> |-->
<!--          <a href="{% url 'edit_user_information' %}" style="color:red">Profilni o'zgartirish</a></h4>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <span style="font-weight: bold;" class="h3">Xush kelibsiz, {{user.username}}</span>
      </div>
      <div class="col-xs-6 text-right h4">
        <a href="{% url 'password_change'%}" style="color: red;">Parolni almashtirish</a> |
        <a href="{% url 'edit_user_information' %}" style="color: red;">Profilni o'zgartirish</a>
      </div>
    </div>
  </div>

  <h2 class="text-center" style="font-weight: normal">Siz haqingizdagi ma'lumotlar</h2><br><br>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <span class="text-center">
          <img src="{{ profile.photo.url }}" class="center-block img-responsive img-thumbnail" width="250px" height="250px" style="border-radius:50%" ><br>
        </span>
      </div>
      <div class="col-xs-6">
        <span >
          <h4>Tug'ilgan kuninggiz: {{profile.date_of_birth}}</h4>
          <label>Username: </label><input value="{{user.username}}" readonly placeholder="kiritilmagan"><br><br>
          <label>Emailingiz: </label><input value="{{user.email}}" readonly placeholder="kiritilmagan"><br><br>
          <label>Ismingiz: </label><input value="{{user.first_name}}" readonly placeholder="kiritilmagan"><br><br>
          <label>Familiyangiz: </label><input value="{{user.last_name}}" readonly placeholder="kiritilmagan">
        </span>
      </div>
    </div>
  </div>
  <h3 class="text-right"><a href="{% url 'logout' %}" class="text-danger">Log out</a></h3>
  


{% endblock content %}