{% extends 'news/base.html' %}
{% load static%}

{% block title %} Mahalliy xabarlar {% endblock title %}

{% block content %}
{% for news in mahalliy_yangiliklar %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <a href="{{ news.get_absolute_url }}">
                        <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:100%">
                        <h2 class="card-title">{{ news.title }}</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}