{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} {{news.title }} {% endblock title %}

{% block content %}
    <div class="container" style="width:100%">
    <h2 style="width:100%">{{ news.title }}</h2>
    <h5 class="datetime">{{news.publish_time}}| <i class="fa fa-eye" aria-hidden="true"></i>
        {% get_hit_count for news %} | Izohlar soni : {{ comment_count }}
    </h5>
    <img src="{{ news.image.url }}" style="width:50%">
    <p style="width:100%">{{ news.body }}</p>
    </div>
{% if comment_count %}
<h3>Bu yangilikka {{ comment_count }} ta izoh qoldirilgan</h3>
{% endif %}
{% for comment in comments %}
    <div class="comments" style="padding: 10px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
        <p class="font-weight-bold">
            {{ comment.user }}
            <span class="text-muted font-weight-normal" style="font-size: 12px;">
                {{ comment.created_time }}
            </span>
        </p>
        <p>{{ comment.body | linebreaks }}</p>
    </div>
{% endfor %}
<div class="card-footer text-center">

    <a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
    <a href="{% url 'news_delete' news.slug %}">O'chirish</a>

</div>

{% if user.is_authenticated %}
<div class="col-md-8 card mb-4 mt-3" style="box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); border-radius: 5px;">
    <div class="card-body">
        <h3>Izoh qoldirish</h3>
        <form method="POST" style="margin-top: 1.3em;">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">
                Yuborish
            </button>
        </form>
    </div>
</div>
{% else %}

<div class="card-body" style="padding: 15px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <p class="text-danger">Faqatgina ro'yhatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin</p>
    <p>Izoh qoldirish uchun
        <a href="{% url 'user_register' %}" class="text-primary">ro'yhatdan o'ting</a>
        yoki <a href="{% url 'login'%}" class="text-primary">Saytga kiring</a>
    </p>
</div>
{% endif %}
{% endblock %}