{% extends 'news/base.html' %}
{% load static%}

{% block title %} Texnologiya xabarlari {% endblock title %}

{% block content %}

    {% for news in texnologik_yangiliklar %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6" >
                    <a href="{{ news.get_absolute_url }}">
                        <img src="{{ news.image.url}}" alt="{{ news.title }}" style="width:150%">
                        <h2 style="width:150%; margin-bottom: 40px">{{news.title}}</h2>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}